<div class="card">
  <div class="card-header">{{ pageTitle }}</div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Search by:</div>
      <div class="col-md-4">
        <input
          type="text"
          [(ngModel)]="listFilter"
          id="searchInput"
          onkeyup="filterBooks()"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{ listFilter }}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf="books.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleBookImage()">
                {{ showImage ? "Hide" : "Show" }} Book Image
              </button>
            </th>
            <th>Book</th>
            <th>Book Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of showFilterBooks">
            <td>
              <img
                *ngIf="showImage"
                src="{{ book.imageUrl }}"
                title="{{ book.bookName }}"
                [style.width.px]="setImageWidth"
                [style.margin.px]="setImageMargin"
                alt="book image"
              />
            </td>
            <td>{{ book.bookName }}</td>
            <td>{{ book.boobCode | lowercase | setToSpaces : "-" }}</td>
            <td>{{ book.releaseDate | date }}</td>
            <td>{{ book.price | currency : "USD" : "symbol" : "1.2-2" }}</td>
            <td>{{ book.rating }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
